@import "../../sass_util/variables";

#weather_img_container {
  img {
    display: block;
    margin: auto;
    width: 14em;
    height: 14em;
  }
  grid-area: weather_img_container;
}

#title {
  grid-area: title;
}

#location_time { 
  grid-area: location_time;
}

.banner_header {
  padding: 1.5em;
}

.Banner {
  background-color: $primary-color;
  font-size: 1.2em;
  display: grid;
  grid-template-areas: 
    "title"
    "weather_img_container"
    "location_time"
}

@media only screen and (min-width: 600px)   {
  .Banner {
      grid-template-columns: auto auto auto;
      grid-template-areas:
        "title  weather_img_container  location_time";
  }
}