.Banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: #2196F3;
}

.weather_img > img {
  display: block;
  margin: auto;
  max-width: 15em; 
  max-height: 15em;
}