@import "../sass_util/variables";

.Banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: $primary-color;
  font-size: 1.2em;
}

.weather_img img {
  display: block;
  margin: auto;
  max-width: 15em; 
  max-height: 15em;
}

#title {
  padding: 1.5em;
}

#location_time { 
  padding: 1.5em;
}