@import '../../sass_util/variables';

.WeatherBox {
  margin: 1.5em;
}

.card {
  box-shadow: $box-shadow;
  transition: 0.3s;
  padding: 2em 4em;
}

.card header p {
  font-size: 2em;
  margin: 0;
}

.card p {
  font-size: 1.2em;
}