@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import "~react-vis/dist/style.css";

$primary-color: #2194f3;
$secondary-color: #f37f21;
$accent-color: #3c3c3c;
$primary-text-color: #212121;
$primary-font: 'Roboto', sans-serif;