@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@import url(~react-vis/dist/style.css);
.info_panel {
  display: block;
  padding: .4em 2.5em;
  text-align: right;
  color: #f37f21;
  background-color: #3c3c3c; }

.info_panel > p {
  display: inline;
  font-size: 1.5em;
  margin: 1.5em; }

#git_lab {
  max-width: 30px;
  max-height: 30px; }

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: #212121; }
