@import "sass_util/variables";
@import 'sass_util/base';

nav {
  p, a {
    display: inline;
    font-size: 1.5em;
    margin: 1.5em;
    color: $secondary-color;
  }
  a {
    text-decoration: none;

  }
  img {
    max-width: 30px; 
    max-height: 30px;
  }
  #info_panel {
    float: right;
    text-align: right;
  }
  display: block;
  padding: .4em 0;
  background-color: $side-container-color;
}