@import "sass_util/variables.scss";
@import 'sass_util/base';

.info_panel {
  p {
    display: inline;
    font-size: 1.5em;
    margin: 1.5em;
  }
  display: block;
  padding: .4em 2.5em;
  text-align: right;
  color: $secondary-color;
  background-color: $side-container-color;
}

#git_lab {
  max-width: 30px; 
  max-height: 30px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}